.header {
  grid-row: 1;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  background: hsl(var(--hue), var(--saturation), var(--lightness));
  padding-left: 2em;
  padding-right: 2em;
}

.nav-links a {
  text-decoration: none;
  color: white;
  margin-left: 3em;
}

.nav-links button {
  margin-left: 2em;
}

.active {
  border-bottom: white 1px solid;
}
